.glide {
  // background-color: $Grayish-Blue;
  &__sub-headline {
    font-weight: 500;
    color: $Very-Dark-Blue;
  }
  @include mQ_desktop {
    &__sub-headline {
      font-size: 1.5rem;
      padding: 0;
      // color: white;
      color: white;
      font-weight: 500;
    }
  }
  &__quote {
    font-size: 0.9rem;
    // color: white;
    color: white;
    line-height: 1.6;
  }
  &__slide {
    position: relative;
    border-radius: 12px;
    // background-color: $Soft-Blue;
    background-color: $Very-Dark-Blue;
    margin: 4rem 0;
    padding: 4rem 0 1rem;
  }
  &__arrow{
    top:40%;
  }
  .img-con {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -75px;
  }
}
